fieldset {
  background-color: #eeeeee;
  display: inline-block;
  border-radius: 10px;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}

input{
  /* Firefox */
  -moz-appearance: textfield;

  /* Chrome */
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin:0;
  }

  /* Opéra*/
  &::-o-inner-spin-button {
    -o-appearance: none;
    margin: 0;
  }
}


button[type="submit"]{

  background-color: #4C9E1D;
  border-style: none;
  width: 50%;
  border-radius: 5px;
}

button[type="submit"][disabled]{
  background-color:#5fcf80 ;
  width: 50%;
  border-radius: 5px;

}

.ajoutEmpActive{

position: absolute;

  left: 70px;
  top: 0px;
  border: 1px solid yellow;



}

.inputEmp{

  box-sizing: border-box;
  width: 50%;
  padding: 5px 5px;
  box-shadow: lightgray 4px 4px 20px;
}

.inpdscv{

  background-color:lightgray;
}

